@import "tailwindcss";

@theme {
  --color-primary: #823244;
  --color-bg: #FFFFFF;
  --color-surface: #F7F7F7;
  --color-text: #1A1A1A;
  --color-link-hover: #823244;
  --color-heading: #000000;
  --color-shadow: rgba(0, 0, 0, 0.25);
  --color-opacity-10: rgba(0, 0, 0, 0.1);
  --color-white-bg: #FFFFFF;

  --font-sans: "Inter", system-ui, sans-serif;

  /* shadow x y blur color */
  --shadow-bottom: 0 4px 4px var(--color-shadow);
  --shadow-card: 0 2px 8px var(--color-shadow);
  --shadow-inner: inset 0 0 4px var(--color-shadow);

  --breakpoint-xs: 500px;
  --breakpoint-2xs: 390px;
}

:root.dark {
  --color-primary: #E9BF70;
  --color-bg: #0C0C0C;
  --color-surface: #1D1D1F;
  --color-text: #F7F7F7;
  --color-link-hover: #E9BF70;
  --color-heading: #FFFFFF;
  --color-shadow: rgba(255, 255, 255, 0.2);
  --color-opacity-10: rgba(255, 255, 255, 0.1);
  --color-white-bg: #000000;
}

@layer base {
  html {
    @apply scroll-smooth;
  }
  
  body {
    @apply bg-bg text-text font-sans transition-colors duration-300;
  }

  h1, h2 {
    @apply text-heading font-bold xs:text-3xl text-2xl;
  }

  h3 {
    @apply text-heading font-semibold xs:text-2xl text-xl;
  }

  h4 {
    @apply text-primary font-medium text-sm;
  }

  p {
    @apply text-text font-normal text-base;
  }

  span {
    @apply text-primary font-medium;
  }
}

@layer components {
  .my-container {
    @apply max-w-2xl w-full mx-auto xs:px-4 px-2;
  }

  .spacing {
    @apply sm:py-20 xs:py-16 py-12;
  }

  .btn {
    @apply p-1 text-text font-medium text-base border border-text rounded-sm flex items-center justify-center gap-3 w-full hover:border-primary hover:text-primary transition-colors duration-200 cursor-pointer;
  }

  .under-heading {
    @apply sm:mb-10 xs:mb-8 mb-6;
  }
}